@model ISDomain.DomainModels.Book

@{ ViewData["Title"] = "Edit";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h4 class="mt-4">Edit Book Information</h4>
<hr />
<div class="row">
    <div class="col-md-4"></div>

    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="BookName" class="control-label"></label>
                <input asp-for="BookName" class="form-control" />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookGenre" class="control-label"></label>
                <select asp-for="BookGenre" asp-items="Html.GetEnumSelectList<ISDomain.DomainModels.Genre>()" class="form-control"></select>
                <span asp-validation-for="BookGenre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookAuthor" class="control-label"></label>
                <input asp-for="BookAuthor" class="form-control" />
                <span asp-validation-for="BookAuthor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Synopsis" class="control-label"></label>
                <input asp-for="Synopsis" class="form-control" />
                <span asp-validation-for="Synopsis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverImage" class="control-label"></label>
                <input asp-for="CoverImage" class="form-control" />
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookPrice" class="control-label"></label>
                <input asp-for="BookPrice" class="form-control" />
                <span asp-validation-for="BookPrice" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input type="date" id="Date" asp-for="Date" class="form-control">
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
        <div>
            <a asp-action="Index" class="text-decoration-none text-black-50">Back to All Books</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
